<div
  class="js-kubernetes-logs"
  data-current-environment-name="production"
  data-environments-path="/root/my-project/environments.json"
  data-logs-endpoint="/root/my-project/environments/1/logs.json"
>
  <div class="build-page-pod-logs">
    <div class="build-trace-container prepend-top-default">
      <div class="top-bar js-top-bar d-flex">
        <div class="row">
          <div class="form-group col-6" role="group">
            <label class="d-block col-form-label-sm col-form-label">
              Environment
            </label>
            <div class="dropdown js-environment-dropdown d-flex">
              <button
                aria-expanded="false"
                class="dropdown-menu-toggle d-flex align-content-center align-self-center"
                data-toggle="dropdown"
                type="button"
              >
                <i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i>
                <div class="dropdown-toggle-text">
                  &nbsp;
                </div>
              </button>
              <div class="dropdown-menu dropdown-menu-selectable dropdown-menu-drop-up"></div>
            </div>
          </div>
          <div class="form-group col-6" role="group">
            <label class="d-block col-form-label-sm col-form-label">
              Pod logs from
            </label>
            <div class="dropdown js-pod-dropdown d-flex">
              <button
                aria-expanded="false"
                class="dropdown-menu-toggle d-flex align-content-center align-self-center"
                data-toggle="dropdown"
                type="button"
              >
                <i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i>
                <div class="dropdown-toggle-text">
                  &nbsp;
                </div>
              </button>
              <div class="dropdown-menu dropdown-menu-selectable dropdown-menu-drop-up"></div>
            </div>
          </div>
        </div>
        <div class="controllers align-self-end">
          <div
            class="has-tooltip controllers-buttons"
            data-container="body"
            data-placement="top"
            title="Scroll to top"
          >
            <button
              class="js-scroll-up btn-scroll btn-transparent btn-blank"
              disabled
              type="button"
            ></button>
          </div>
          <div
            class="has-tooltip controllers-buttons"
            data-container="body"
            data-placement="top"
            title="Scroll to bottom"
          >
            <button
              class="js-scroll-down btn-scroll btn-transparent btn-blank"
              disabled
              type="button"
            ></button>
          </div>
          <div class="refresh-control">
            <div
              class="has-tooltip controllers-buttons"
              data-container="body"
              data-placement="top"
              title="Refresh"
            >
              <button
                class="js-refresh-log btn btn-default btn-refresh h-32-px"
                disabled
                type="button"
              ></button>
            </div>
          </div>
        </div>
      </div>
      <pre class="build-trace" id="build-trace">
        <code class="bash js-build-output"></code>
        <div class="build-loader-animation js-build-refresh">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </pre>
    </div>
  </div>
</div>
